/************ HOME-INFO ************/

#home__info {
  min-width: 380px;
  width: 40%;
  height: fit-content;
}

#home__info--title {
  color: var(--primary);
  font-size: clamp(2.5rem, 5vw, 4rem);
  letter-spacing: var(--spacing-small);
  margin-bottom: 1.2rem;
}

#home__info--title--highlight {
  font-size: clamp(0.7rem, 1vw, 0.85rem);
  font-weight: var(--weight-200);
}

#home__info--description {
  font-size: clamp(1rem, 2vw, 1.5rem);
  color: var(--text);
}

/************ AUTH-FORM ************/

.form__login {
  width: 380px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--surface);
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 8px;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
}

.form__login input {
  height: 50px;
  padding: 0 12px;
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  color: var(--text);
  background-color: var(--surface);
}

.form__login input:focus {
  border-color: var(--primary);
  outline: none;
}

.form__login .auth__btn--primary {
  height: 48px;
  background-color: var(--primary);
  color: var(--surface);
  border: none;
  border-radius: 6px;
  font-size: clamp(1rem, 1.8vw, 1.125rem);
  font-weight: bold;
  cursor: pointer;
}

.form__login .auth__btn--primary:hover {
  background-color: var(--primary-hover);
}

.form__login .forgotPassword {
  text-align: center;
  font-size: clamp(0.75rem, 1.2vw, 0.875rem);
  color: var(--primary);
  text-decoration: none;
}

.form__login .forgotPassword:hover {
  text-decoration: underline;
}

.form__login hr {
  border: none;
  border-top: 1px solid var(--border);
  margin: 10px 0;
}

.form__login .auth__btn--secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: var(--primary-light);
  color: var(--surface);
  border: none;
  border-radius: 6px;
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.form__login .auth__btn--secondary:hover {
  background-color: var(--primary-hover);
}

@media (max-width: 768px) {
  #home {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    height: auto;
  }

  #home__info {
    width: 100%;
    min-width: unset;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .form__login {
    width: 100%;
    max-width: 400px;
  }
}
