* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
}

:root {
  /* cor principal */
  --primary: #059669;
  --primary-hover: #047857;
  --primary-light: #10b981;

  /* fundo */
  --background: #f0f2f5;
  --surface: #ffffff;

  /* texto */
  --text: #111827;
  --text-light: #6b7280;

  /* borda */
  --border: #e5e7eb;

  /* estados */
  --success: #16a34a;
  --successBackground: #d4edda;
  --danger: #dc2626;
  --dangerBackground: #ebc9cb; 
  --warning: #d97706;

  /* espaçamento */
  --spacing-large: 2px;
  --spacing-medium: 1px;
  --spacing-small: 0.5px;

  /* letter wheight*/
  --weight-200: 200;
  --weight-300: 300;
  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;
}

/************ HOME ************/

#home {
  width: 100%;
  height: 100dvh;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

#register {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}
